<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %> 

    <main>
     <% if (products.length > 0) { %>
      <ul>
      <% for (const product of products) { %> 
        <% const {title, description, price, qty, imgUrl, uuid} = product %> 
        <li>

          <p><%=title%> (<%=qty%> )</p>
          <form action="/cart-delete-item" method="post">
            <button type="submit" class="btn">Delete</button>
            <input type="hidden" name="uuid" id="uuid" value="<%=uuid%>">
          </form>

        </li>

        <% } %> 
      </ul>
     <% } else { %>
        <h1>Nothing in the cart</h1>
      <% } %>
    </main>
    <%- include('../includes/end.ejs') %> 